{% extends "base.html.twig" %}

{% block title %}Game | Blackjack {% endblock %}

{% block header %}Play Blackjack{% endblock %}

{% block nav %}game{% endblock %}

{% block content %}

{% set flash = app.flashes %}
{% set colour = "red" %}
{% set count = 1 %}
{% set playing = 0 %}

<form method="post">
    {% if flash["game"] is defined %}
        {% set game = flash["game"][0] %}
        <div class="centered">
            <h2>
                Dealers Hand
            </h2>
            <p>
                {% if not game.dealer.getState() %}
                    {{ game.dealer.hand[0].getValue() ~ game.dealer.hand[0].getPattern() }}
                    **
                {% else %}
                    {% for card in game.dealer.hand %}
                        {{ card.getValue() ~ card.getPattern() }}
                    {% endfor %}
                {% endif %}
            </p>
            <h3 class="empty">
                {% if game.dealer.getState() %}
                    Points
                {% endif %}
            </h3>
            <p class="empty">
                {% if game.dealer.getState() %}
                    {{ game.dealer.getPoints() }}
                {% endif %}
            </p>
        </div>
        <div style="display: flex; flex-wrap: wrap;" class="center">
            {% for player in flash["game"][0].players %}
                <div class="player {{colour}} centered">
                    <h2>
                        Player {{ count }}
                    </h2>
                    <h3>
                        Cards
                    </h3>
                    <p>
                        {% for card in player.hand %}
                            {{ card.getValue() ~ card.getPattern() }}
                        {% endfor %}
                    </p>
                    <h3>
                        Points
                    </h3>
                    <p>
                        {{ player.getPoints() }}
                    </p>
                    {% if player.getState() == 0 and playing == 0 %}
                        {% set playing = 1 %}
                        <input type="submit" name="hit" value="Hit">
                        <input type="submit" name="stand" value="Stand">
                    {% elseif player.getState() == 2 %}
                        <h3>
                            You Lost
                        </h3>
                    {% elseif player.getState() == 3 %}
                        <h3>
                            You Drew
                        </h3>
                    {% elseif player.getState() == 4 %}
                        <h3>
                            You Won
                        </h3>
                    {% endif %}
                </div>
                {% set count = count + 1 %}
                {% if colour == "red" %}
                    {% set colour = "blue" %}
                {% elseif colour == "blue" %}
                    {% set colour = "green" %}
                {% elseif colour == "green" %}
                    {% set colour = "yellow" %}
                {% else %}
                    {% set colour = "red" %}
                {% endif %}
            {% endfor %}
        </div>
        {% if playing == 0 and game.dealer.getState() != 2 %}
            <div class="centered">
                <input type="submit" name="continue" value="Continue">
            </div>
        {% elseif playing == 0 and game.dealer.getState() == 2 %}
            <div class="centered">
                <input type="submit" name="clear" value="Finish">
            </div>
        {% endif %}
        <input type="submit" name="clear" value="Scrap game">
    {% else %}
        {% include './game/start.html.twig' %}
    {% endif %}
</form>

{% endblock %}