{% set baseURL = app.request.getBaseURL() %}

<nav>
    <a href="{{ baseURL }}/">Home</a> |
    <a href="{{ baseURL }}/card">Card</a> |
    <a href="{{ baseURL }}/card/deck">Deck</a> |
    <a href="{{ baseURL }}/card/deck/shuffle">Shuffle</a> |
    <a href="{{ baseURL }}/card/deck/draw">Draw</a> |
    <a href="{{ baseURL }}/card/deck/draw/5">Draw 5</a> |
    <a href="{{ baseURL }}/card/deck/deal/4/4">Deal 4/4</a> |
    <a href="{{ baseURL }}/card/deck/deal/5/10">Deal 5/10</a> |
    <a href="{{ baseURL }}/card/deck/deal/3/8">Deal 3/8</a> |
    <a href="{{ baseURL }}/card/deck2">Deck2</a> |
    <a href="{{ baseURL }}/card/api/deck">Api Deck</a> |
    <a href="{{ baseURL }}/game/card">Game</a>
</nav>