{% set baseURL = app.request.getBaseURL() %}

<nav>
    <a href="{{ baseURL }}/">Home</a> |
    <a href="{{ baseURL }}/about">About</a> |
    <a href="{{ baseURL }}/report">Report</a> |
    <a href="{{ baseURL }}/metrics">Metrics</a> |
    <a href="{{ baseURL }}/card">kmom02</a> |
    <a href="{{ baseURL }}/game">kmom03</a> |
    <a href="{{ baseURL }}/library">kmom05</a> |
    <a href="{{ baseURL }}/proj">Proj</a>
</nav>