{% extends "proj/index.html.twig" %}

{% block nav %}proj{% endblock %}

{% block style %}proj{% endblock %}

{% block table %}

<div class="fill column flexend">
    <div class="fill centered truecenter">
        <div class="selectuser">
            <h1>
                {{ block('tab') }}
            </h1>
            {% if fail is defined %}
                {{ fail }}
            {% endif %}
        </div>
    </div>
    <form method="post" class="userbuttoncontainer truecenter">
        <div class="loginconatiner">
            <div class="center fill">
                <div class="centered inline">
                    <label for="account_name">
                        Account name
                    </label>
                    <br>
                    <input type="text" name="account_name" id="account_name" placeholder="Enter name..." maxlength="50">
                </div>
                <div class="centered inline">
                    <label for="password">
                        Password
                    </label>
                    <br>
                    <input type="password" name="password" id="password" placeholder="Enter password..." maxlength="50">
                </div>
            </div>
            {{ block('input') }}
            <a style="margin: 10px;" href="{% set baseURL = app.request.getBaseURL() %}/proj/{{ block('link') }}">
                <button type="button">{{ block('linktab') }}?</button>
            </a>
            <div class="relative">
                <a class="absolute obbutton" href="{% set baseURL = app.request.getBaseURL() %}/proj">
                    <button type="button">Back</button>
                </a>
            </div>
        </div>
    </form>
</div>

{% endblock %}